* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  .header {
    text-align: center;
    padding: 32px;
  }
  .navbar {
    background-color: black;
}
.hide {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.navbar-nav li a {
    color: black;
}

  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
 #a1:hover, #a2:hover, #a3:hover, #a4:hover, #a5:hover{
    content: url("/static/album/a0.webp");
  }
  #b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover{
    content: url("/static/album/b0.jpeg");
  }
  #v1:hover, #v2:hover, #v3:hover, #v4:hover{
    content: url("/static/album/v0.jpg");
  }
  #ms1:hover, #ms2:hover, #ms3:hover{
    content: url("/static/album/ms0.webp");
  }
  #m1:hover, #m2:hover, #m3:hover, #m4:hover, #m5:hover{
    content: url("/static/album/m0.jpg");
  }
  #lx1:hover, #lx2:hover, #lx3:hover{
    content: url("/static/album/lx0.jpg");
  }

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }