<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer Diagnosis</title>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="icon" type="image/x-icon" href="/static/1.png">
</head>
<body>
    <div class="text-box">
        <h1>Cancer Diagnosis</h1>
        <br>
        <p>
            A Machine Learning-based <span style="color:#03e9f4">Breast Cancer Recurrence Diagnosis</span> toolthat can predict the risk of recurrence based on patient-specific factors such as Age, Tumor Size, and other related vitals. This tool can help doctors make more informed decisions about patient care and can potentially improve patient outcomes.
            <br>
            <br>
            <br>
            Learn more about this Innovative Tool and how it can help you or a loved one.
        </p>
        <br>
        
        <h2 class="wrap"> <button class="button" onclick="window.location.href='/home'">Get Diagnosis</button></h2>
    </div>
   
</body>
</html>